body {
  background-color: #2b2b2b !important;
}

[href]:hover {
  cursor: pointer;
}

.header {
  background: #2b2b2b;
  padding: 20px 50px 20px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  width: 1280px;
  height: 100%;
}

.header__menu {
  display: flex;
  align-items: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  gap: 3em;
}

.header__title figcaption {
  color: #ffffff;
  font-family: monospace;
  font-weight: 600;
  font-size: 24px;
}

.menu__item a {
  text-decoration: none;
  color: #ffffff;
}

.button {
  display: flex;
  width: fit-content;
  background: #a259ff;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  height: min-content;

  figcaption {
    color: #ffffff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
  }
}

.burger-menu {
  display: none;
  background: url(/img/headerAndFooterImgs/navMenu.svg);
  background-size: 100% 100%;
  border: none;
  width: 30px;
}

.transparent-button {
  background-color: transparent;
  border: 2px solid #a259ff;
}

@media (width < 940px) {
  .header {
    padding: 20px 20px;
  }

  .header__menu {
    gap: 1em;
  }
}

@media (width < 834px) {
  .burger-menu {
    display: block;
  }

  .header__menu {
    display: none;
  }
}

@media (width < 420px) {
  .header__title figcaption {
    font-size: 16px;
  }
}
