.footer {
  background-color: #3b3b3b;
  display: grid;
  place-items: center;
}
.footer__container {
  width: clamp(10%, 1280px, 100%);
  height: 100%;
  padding: 2em;
  gap: 5em;
}
.footer__container .container__group {
  gap: 1em;
}

@media (width < 1070px) {
  .footer__container {
    flex-direction: column;
  }
}
@media (width < 630px) {
  .heading__input-field {
    flex-direction: column;
    gap: 1em;
  }
  .heading__input-field .input-field__input {
    border-radius: 1em !important;
    border: none;
    padding: 1em;
    width: 100% !important;
  }
  .heading__input-field .button {
    transform: none !important;
    width: 100%;
    justify-content: center;
  }
}
body {
  background-color: #2b2b2b !important;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: #3b3b3b;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border: 2px groove #3b3b3b;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #1b1b1b;
}

[href]:hover {
  cursor: pointer;
}

.header {
  background: #2b2b2b;
  padding: 20px 50px 20px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  width: 1280px;
  height: 100%;
}

.header__menu {
  display: flex;
  align-items: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  gap: 3em;
}

.header__title figcaption {
  color: #ffffff;
  font-family: monospace;
  font-weight: 600;
  font-size: 24px;
}

.menu__item a {
  text-decoration: none;
  color: #ffffff;
}

.burger-menu {
  display: none;
  background: url(/img/headerAndFooterImgs/navMenu.svg);
  background-size: 100% 100%;
  border: none;
  width: 30px;
}

@media (width < 940px) {
  .header {
    padding: 20px 20px;
  }
  .header__menu {
    gap: 1em;
  }
}
@media (width < 834px) {
  .burger-menu {
    display: block;
  }
  .header__menu {
    display: none;
  }
}
@media (width < 420px) {
  .header__title figcaption {
    font-size: 16px;
  }
}
.input-field {
  display: flex;
}
.input-field__input {
  border-radius: 1em 0 0 1em;
  border: none;
  padding-left: 1em;
  width: clamp(100px, 60%, 400px);
  outline: none;
}
.input-field .button {
  position: relative;
  transform: translate(-10%, 0);
}

.description {
  color: white;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 200;
  margin: 0;
}

.adaptive-button {
  margin-top: 3em;
  display: none !important;
}

.button {
  display: flex;
  width: fit-content;
  background: #a259ff;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  height: min-content;
}
.button figcaption {
  color: #ffffff;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
}

.transparent-button {
  background-color: transparent;
  border: 2px solid #a259ff;
}

#top {
  position: fixed;
  transition-duration: 0.5s;
  z-index: 100;
  bottom: 2%;
  right: 2%;
  place-self: end;
  text-decoration: none;
  padding: 3vh;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 0.5vw;
  overflow: hidden;
  background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-512.png);
  background-size: 60%;
  box-shadow: 0 0.5vw 1.5vw 0.5vw #1b1b1b;
  background-repeat: no-repeat;
  background-position: center;
  white-space: nowrap;
  opacity: 0;
}

hr {
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: Work Sans;
  font-size: 67px;
  font-weight: 600;
  line-height: 73.7px;
  text-align: left;
  color: white;
  margin: 0;
}

h2 {
  color: white;
}

h3 {
  color: white;
  font-size: 38px;
}

h4 {
  color: #858584;
}

h5 {
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.additional-info {
  display: flex;
  justify-content: space-between;
}

.content-container {
  display: grid;
  place-items: center;
}

.content-container__content {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 200px;
  width: clamp(374px, 1280px, 100%);
}

h3 {
  color: white;
  font-size: 38px;
}

h5 {
  color: white;
  font-weight: 600;
  font-size: 22px;
}

figcaption {
  color: white;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 200;
}

.content__hero-section {
  display: flex;
  gap: 8em;
}
.content__hero-section .hero-section__text-and-buttons {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.content__hero-section .hero-section__text-and-buttons .card {
  display: none;
  width: 100%;
  border-radius: 2em;
  overflow: hidden;
  background-color: #3b3b3b;
}
.content__hero-section .hero-section__text-and-buttons .card-body {
  padding-top: 2em;
  padding-left: 1.5em;
}
.content__hero-section .hero-section__text-and-buttons .card-title {
  color: white;
  margin-bottom: 0.5em;
}
.content__hero-section .hero-section__highlighted-nft {
  flex-basis: 50%;
}
.content__hero-section .hero-section__highlighted-nft .card {
  width: 100% !important;
}

.card {
  border-radius: 2em;
  overflow: hidden;
  background-color: #3b3b3b;
}

.card-body {
  padding-top: 2em;
  padding-left: 1.5em;
}
.card-body figcaption {
  color: white;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 200;
}

.card-title {
  color: white;
  margin-bottom: 0.5em;
}

.trending-colection__card-row {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-top: 3em;
}
.trending-colection__card-row .card-row__card {
  flex-basis: 33.3%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.trending-colection__card-row .card-row__card img {
  width: 100%;
}
.trending-colection__card-row .card-row__card figure img {
  height: 24px;
  width: 24px;
}
.trending-colection__card-row .card-row__card .other-cards {
  display: flex;
  gap: 1em;
}
.trending-colection__card-row .card-row__card .other-cards img {
  flex-basis: 33.3%;
}
.trending-colection__card-row .card-row__card .other-cards .other {
  background-color: #a259ff;
  flex-basis: 33.3%;
  border-radius: 1em;
  display: grid;
  place-items: center;
  font-family: monospace;
}

.top-rated-artists__cards-grid {
  margin-top: 3em;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.top-rated-artists__cards-grid .card {
  width: auto !important;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
  position: relative;
}
.top-rated-artists__cards-grid .card::after {
  content: attr(data-pos);
  font-size: 16px;
  padding: 0.2em 0.7em;
  border-radius: 50em;
  background-color: #2b2b2b;
  color: #858584;
  position: absolute;
  top: 8%;
  left: 8%;
}
.top-rated-artists__cards-grid .card-img-top {
  width: clamp(24px, 50%, 150px);
  height: auto;
}
.top-rated-artists__cards-grid .card-body {
  flex: none;
  padding: 0;
  height: fit-content;
}
.top-rated-artists__cards-grid .description {
  font-size: 1em;
  color: #858584;
  font-weight: 400;
}

.content__browse-categories .browse-categories__cards-grid {
  margin-top: 3em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}
.content__browse-categories .card {
  width: 100% !important;
}
.content__browse-categories .card-body {
  padding: 1em 1.5em;
}
.content__browse-categories .card-bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  filter: blur(5px);
}
.content__browse-categories .card-img-top {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -75%;
}

.discover-more-nfts__cards-grid {
  display: grid;
  margin-top: 3em;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
.discover-more-nfts__cards-grid .card {
  width: 100% !important;
}
.discover-more-nfts__cards-grid .card .card-img-top {
  height: 300px;
}
.discover-more-nfts__cards-grid .description {
  font-size: 1em;
  color: #858584;
}
.discover-more-nfts__cards-grid .text-white {
  font-size: 1.5em;
}

.content__nft-highlight {
  background-image: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%), url("../img/homePageImgs/Primary Photo Placeholder (1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  padding: 3em 6em;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1em;
}
.content__nft-highlight .nft-highlight__headline {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.content__nft-highlight .nft-highlight__headline figure {
  padding: 0.5em 1em;
  background-color: #3b3b3b;
  width: fit-content;
  border-radius: 1em;
}
.content__nft-highlight .nft-highlight__headline h2 {
  font-family: Work Sans;
  font-size: 51px;
  font-weight: 600;
  line-height: 56.1px;
  text-align: left;
  color: white;
}
.content__nft-highlight .nft-highlight__headline button {
  padding: 1em 3em;
}
.content__nft-highlight .nft-highlight__simple-clock {
  color: white;
  width: fit-content;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(59, 59, 59, 0.5019607843);
}
.content__nft-highlight .nft-highlight__simple-clock p {
  font-family: monospace;
  font-size: 12px;
  font-weight: 100;
  line-height: 13.2px;
  text-align: left;
  margin: 0;
}
.content__nft-highlight .nft-highlight__simple-clock h4 {
  font-size: 40px;
}
.content__nft-highlight .adaptive {
  display: none;
}

.content__how-it-works .how-it-works__cards {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.content__how-it-works .how-it-works__cards .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  padding: 1em;
  text-align: center;
}
.content__how-it-works .how-it-works__cards img {
  width: 75%;
}

.content__subscribe-widget {
  background-color: #3b3b3b;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.content__subscribe-widget .subscribe-widget__img {
  flex: 1 0 50%;
  overflow: hidden;
}
.content__subscribe-widget .subscribe-widget__img img {
  width: 100%;
}
.content__subscribe-widget .subscribe-widget__heading {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (width < 1070px) {
  .card-row__card {
    flex-basis: 50% !important;
  }
  .card-row__card:nth-child(2) {
    display: none;
  }
  .discover-more-nfts__cards-grid {
    grid-template-columns: 1fr 1fr;
  }
  .discover-more-nfts__cards-grid .card:nth-child(3) {
    display: none;
  }
  .top-rated-artists__cards-grid .card:nth-child(n+7) {
    display: none;
  }
  .top-rated-artists__cards-grid {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .top-rated-artists__cards-grid .card {
    flex-direction: row;
  }
  .content__subscribe-widget .heading__input-field {
    flex-direction: column;
    gap: 1em;
  }
  .content__subscribe-widget .heading__input-field .input-field__input {
    border-radius: 1em !important;
    border: none;
    padding: 1em;
    width: 100% !important;
  }
  .content__subscribe-widget .heading__input-field .button {
    transform: none !important;
    width: 100%;
    justify-content: center;
  }
}
@media (width < 790px) {
  .content-container__content {
    padding: 10px;
  }
  .hero-section__text-and-buttons {
    flex-basis: 100% !important;
  }
  .hero-section__text-and-buttons .card {
    display: block !important;
    width: 100% !important;
  }
  .hero-section__text-and-buttons #hero-section__button {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .hero-section__highlighted-nft {
    display: none;
  }
  .top-rated-artists__cards-grid {
    grid-template-columns: 1fr;
    text-align: left;
  }
  .top-rated-artists__cards-grid .card {
    justify-content: flex-start;
  }
  .content__browse-categories .browse-categories__cards-grid {
    grid-template-columns: 1fr 1fr;
  }
  .adaptive {
    display: block !important;
    width: 100% !important;
  }
  .content__nft-highlight {
    padding: 1em;
  }
  .content__nft-highlight .nft-highlight__headline {
    width: 100%;
  }
  .nft-highlight__headline button {
    width: 100%;
    justify-content: center;
  }
  .nft-highlight__simple-clock {
    display: none;
  }
  .how-it-works__cards {
    flex-direction: column;
  }
  .how-it-works__cards .card {
    flex-direction: row;
    text-align: left !important;
  }
  .content__subscribe-widget {
    flex-direction: column;
    background-color: transparent;
    padding: 0;
  }
}
@media (width < 630px) {
  .card-row__card {
    flex-basis: 100% !important;
  }
  .card-row__card:nth-child(3) {
    display: none;
  }
  .top-rated-artists__heading button {
    display: none !important;
  }
  .discover-more-nfts__cards-grid {
    grid-template-columns: 1fr;
  }
  .discover-more-nfts__cards-grid .card:nth-child(3) {
    display: block;
  }
  .discover-more-nfts__cards-grid .card .card-img-top {
    height: auto;
  }
  .adaptive-button {
    display: flex !important;
    justify-content: center;
    width: 100%;
  }
}

/*# sourceMappingURL=home-page.css.map */
