.footer {
  background-color: #3b3b3b;
  display: grid;
  place-items: center;
}
.footer__container {
  width: clamp(10%, 1280px, 100%);
  height: 100%;
  padding: 2em;
  gap: 5em;
}
.footer__container .container__group {
  gap: 1em;
}

@media (width < 1070px) {
  .footer__container {
    flex-direction: column;
  }
}
@media (width < 630px) {
  .heading__input-field {
    flex-direction: column;
    gap: 1em;
  }
  .heading__input-field .input-field__input {
    border-radius: 1em !important;
    border: none;
    padding: 1em;
    width: 100% !important;
  }
  .heading__input-field .button {
    transform: none !important;
    width: 100%;
    justify-content: center;
  }
}
body {
  background-color: #2b2b2b !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: #3b3b3b;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border: 2px groove #3b3b3b;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #1b1b1b;
}

[href]:hover {
  cursor: pointer;
}

.header {
  background: #2b2b2b;
  padding: 20px 50px 20px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  width: 1280px;
  height: 100%;
}

.header__menu {
  display: flex;
  align-items: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  gap: 3em;
}

.header__title figcaption {
  color: #ffffff;
  font-family: monospace;
  font-weight: 600;
  font-size: 24px;
}

.menu__item a {
  text-decoration: none;
  color: #ffffff;
}

.burger-menu {
  display: none;
  background: url(/img/headerAndFooterImgs/navMenu.svg);
  background-size: 100% 100%;
  border: none;
  width: 30px;
}

@media (width < 940px) {
  .header {
    padding: 20px 20px;
  }
  .header__menu {
    gap: 1em;
  }
}
@media (width < 834px) {
  .header__menu {
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
    position: absolute;
    flex-direction: column;
    right: -200px;
    height: 100vh;
    background-color: #2b2b2b;
    padding: 1em;
    gap: 1em;
  }
  .burger-menu {
    display: block;
  }
}
@media (width < 420px) {
  .header__title figcaption {
    font-size: 16px;
  }
}
.input-field {
  display: flex;
}
.input-field__input {
  border-radius: 1em 0 0 1em;
  border: none;
  padding-left: 1em;
  width: clamp(100px, 60%, 400px);
  outline: none;
}
.input-field .button {
  position: relative;
  transform: translate(-10%, 0);
}

.description {
  color: white;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 200;
  margin: 0;
}

.adaptive-button {
  margin-top: 3em;
  display: none !important;
}

.button {
  display: flex;
  width: fit-content;
  background: #a259ff;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  height: min-content;
}
.button figcaption {
  color: #ffffff;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
}

.transparent-button {
  background-color: transparent;
  border: 2px solid #a259ff;
}

#top {
  position: fixed;
  transition-duration: 0.5s;
  z-index: 100;
  bottom: 2%;
  right: 2%;
  place-self: end;
  text-decoration: none;
  padding: 3vh;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 0.5vw;
  overflow: hidden;
  background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-512.png);
  background-size: 60%;
  box-shadow: 0 0.5vw 1.5vw 0.5vw #1b1b1b;
  background-repeat: no-repeat;
  background-position: center;
  white-space: nowrap;
  opacity: 0;
}

hr {
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: Work Sans;
  font-size: 67px;
  font-weight: 600;
  line-height: 73.7px;
  text-align: left;
  color: white;
  margin: 0;
}

h2 {
  color: white;
}

h3 {
  color: white;
  font-size: 38px;
}

h4 {
  color: #858584;
}

h5 {
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.additional-info {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  gap: 1em;
}
.tags__item {
  width: fit-content;
  padding: 0.5em 2em;
  color: white;
  border-radius: 2em;
  background-color: #3b3b3b;
}

.simple-clock {
  color: white;
  width: fit-content;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(59, 59, 59, 0.5019607843);
}
.simple-clock p {
  font-family: monospace;
  font-size: 12px;
  font-weight: 100;
  line-height: 13.2px;
  text-align: left;
  margin: 0;
}
.simple-clock h4 {
  font-size: 40px;
}

.background-image {
  height: 500px;
  overflow: hidden;
}
.background-image__image {
  width: 100%;
}

.content-container {
  display: grid;
  place-items: center;
}
.content-container[data-background] {
  background-color: #3b3b3b;
  margin-bottom: 0.3em;
}
.content-container__content {
  width: clamp(374px, 1280px, 100%);
  flex-wrap: wrap;
  padding: 3em;
}
.content-container__content .simple-clock {
  padding: 2em;
}
.content-container__content .simple-clock .button {
  width: 100%;
}
.content-container__content .adaptive {
  display: none;
}
.content-container__content .content__description {
  gap: 1em;
  padding-top: 2em;
  width: 50%;
}
.content-container__content .content__description p,
.content-container__content .content__description h5 {
  padding: 0;
  margin: 0;
}
.content-container__content .content__description .description-text {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
}
.content-container__content .content__cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 5em 0;
}
.content-container__content .content__cards-grid .card {
  background-color: #2b2b2b;
  width: 100% !important;
  border-radius: 2em;
  overflow: hidden;
}
.content-container__content .content__cards-grid .card .card-img-top {
  height: 300px;
}
.content-container__content .content__cards-grid .description {
  font-size: 1em;
  color: #858584;
}
.content-container__content .content__cards-grid .text-white {
  font-size: 1.5em;
}
.content-container__content .content__cards-grid figure figcaption {
  color: white;
}
.content-container__content .content__item {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
}
.content-container__content .content__item::after {
  content: attr(data-count);
  color: white;
  padding: 0.3em 0.5em;
  background-color: #3b3b3b;
  border-radius: 50%;
  margin-left: 1em;
}
.content-container__content .content__item[data-active] {
  color: lightgray;
  border-bottom: 4px solid #858584;
}
.content-container__content .content__item[data-active]::after {
  background-color: #767676;
}
.content-container__artist-info {
  width: clamp(374px, 1280px, 100%);
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.content-container__artist-info .artist-info__img {
  width: 120px;
  height: 120px;
  border: 2px solid #2b2b2b;
  overflow: hidden;
  border-radius: 2em;
  position: relative;
  transform: translate(0, -60px);
}
.content-container__artist-info .artist-info__heading {
  display: flex;
  justify-content: space-between;
}
.content-container__artist-info .additional-info {
  width: 50%;
}

@media (width < 834px) {
  .tags {
    flex-direction: column;
  }
  .simple-clock {
    display: none;
  }
  .content-container__content .adaptive {
    display: block;
  }
  .content__heading {
    flex-direction: column;
  }
  .content__heading .button {
    width: 100%;
    justify-content: center;
  }
  .content-container__content .content__cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .content-container__content .content__cards-grid .card:nth-child(n+7) {
    display: none;
  }
  .artist-info__heading {
    flex-direction: column;
    gap: 2em;
  }
}
@media (width < 630px) {
  .artist-info__img {
    margin: 0 auto;
  }
  .content-container__content .content__cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .content-container__content .content__cards-grid .card:nth-child(n+4) {
    display: none;
  }
  .content__item::after {
    display: none;
  }
  .content-container__artist-info .additional-info {
    width: 100%;
  }
}

/*# sourceMappingURL=nft-page.css.map */
