@use "./layout";
@use "./components";
@use "./utils/variables.scss" as *;

.content-container {
  display: grid;
  place-items: center;
}

.content-container__content {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 200px;
  width: clamp(374px, $safe-sone, 100%);
}

h3 {
  color: white;
  font-size: 38px;
}

h5 {
  color: white;
  font-weight: 600;
  font-size: 22px;
}

figcaption {
  color: white;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 200;
}

.content__hero-section {
  display: flex;
  gap: 8em;

  .hero-section__text-and-buttons {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;

    .card {
      display: none;
      width: 100%;
      border-radius: 2em;
      overflow: hidden;
      background-color: $background-secondary;
    }

    .card-body {
      padding-top: 2em;
      padding-left: 1.5em;
    }

    .card-title {
      color: white;
      margin-bottom: 0.5em;
    }

    h1 {
      font-family: Work Sans;
      font-size: 67px;
      font-weight: 600;
      line-height: 73.7px;
      text-align: left;
      color: white;
      margin: 0;
    }

    .additional-info {
      display: flex;
      justify-content: space-between;
    }
  }

  .hero-section__highlighted-nft {
    flex-basis: 50%;

    .card {
      width: 100% !important;
    }
  }
}

.card {
  border-radius: 2em;
  overflow: hidden;
  background-color: $background-secondary;
}

.card-body {
  padding-top: 2em;
  padding-left: 1.5em;

  figcaption {
    color: white;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 200;
  }
}

.card-title {
  color: white;
  margin-bottom: 0.5em;
}

.trending-colection__card-row {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-top: 3em;

  .card-row__card {
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    gap: 2em;

    img {
      width: 100%;
    }

    figure img {
      height: 24px;
      width: 24px;
    }

    .other-cards {
      display: flex;
      gap: 1em;

      img {
        flex-basis: 33.3%;
      }

      .other {
        background-color: $call-to-action;
        flex-basis: 33.3%;
        border-radius: 1em;
        display: grid;
        place-items: center;
        font-family: monospace;
      }
    }
  }
}

.top-rated-artists__cards-grid {
  margin-top: 3em;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;

  .card {
    width: auto !important;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    position: relative;
  }

  .card::after {
    content: attr(data-pos);
    font-size: 16px;
    padding: 0.2em 0.7em;
    border-radius: 50em;
    background-color: #2b2b2b;
    color: #858584;
    position: absolute;
    top: 8%;
    left: 8%;
  }

  .card-img-top {
    width: clamp(24px, 50%, 150px);
    height: auto;
  }

  .card-body {
    flex: none;
    padding: 0;
    height: fit-content;
  }

  .description {
    font-size: 1em;
    color: #858584;
    font-weight: 400;
  }
}

.content__browse-categories {
  .browse-categories__cards-grid {
    margin-top: 3em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
  }

  .card {
    width: 100% !important;
  }

  .card-body {
    padding: 1em 1.5em;
  }

  .card-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    filter: blur(5px);
  }

  .card-img-top {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -75%;
  }
}

.discover-more-nfts__cards-grid {
  display: grid;
  margin-top: 3em;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;

  .card {
    width: 100% !important;

    .card-img-top {
      height: 300px;
    }
  }

  .description {
    font-size: 1em;
    color: #858584;
  }

  .text-white {
    font-size: 1.5em;
  }
}

.content__nft-highlight {
  background-image: linear-gradient(
      180deg,
      rgba(162, 89, 255, 0) 0%,
      #a259ff 100%
    ),
    url("../img/homePageImgs/Primary Photo Placeholder (1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  padding: 3em 6em;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1em;

  .nft-highlight__headline {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    figure {
      padding: 0.5em 1em;
      background-color: $background-secondary;
      width: fit-content;
      border-radius: 1em;
    }

    h2 {
      font-family: Work Sans;
      font-size: 51px;
      font-weight: 600;
      line-height: 56.1px;
      text-align: left;
      color: white;
    }

    button {
      padding: 1em 3em;
    }
  }

  .nft-highlight__simple-clock {
    color: white;
    width: fit-content;
    padding: 1em;
    border-radius: 1em;
    background-color: #3b3b3b80;

    p {
      font-family: monospace;
      font-size: 12px;
      font-weight: 100;
      line-height: 13.2px;
      text-align: left;
      margin: 0;
    }

    h4 {
      font-size: 40px;
    }
  }

  .adaptive {
    display: none;
  }
}

.content__how-it-works {
  .how-it-works__cards {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    gap: 2em;

    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100% !important;
      padding: 1em;
      text-align: center;
    }

    img {
      width: clamp(30%, 75%, 75%);
    }
  }
}

.content__subscribe-widget {
  background-color: $background-secondary;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  gap: 60px;

  .subscribe-widget__img {
    flex: 1 0 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .subscribe-widget__heading {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

@media (width < 1070px) {
  .card-row__card {
    flex-basis: 50% !important;
  }

  .card-row__card:nth-child(2) {
    display: none;
  }

  .discover-more-nfts__cards-grid {
    grid-template-columns: 1fr 1fr;

    .card:nth-child(3) {
      display: none;
    }
  }

  .top-rated-artists__cards-grid .card:nth-child(n + 7) {
    display: none;
  }

  .top-rated-artists__cards-grid {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .top-rated-artists__cards-grid .card {
    flex-direction: row;
  }

  .content__subscribe-widget {
    .heading__input-field {
      flex-direction: column;
      gap: 1em;

      .input-field__input {
        border-radius: 1em !important;
        border: none;
        padding: 1em;
        width: 100% !important;
      }

      .button {
        transform: none !important;
        width: 100%;
        justify-content: center;
      }
    }
  }
}

@media (width < 790px) {
  .content-container__content {
    padding: 10px;
  }

  .hero-section__text-and-buttons {
    flex-basis: 100% !important;

    .card {
      display: block !important;
      width: 100% !important;
    }

    #hero-section__button {
      width: 100% !important;
      display: flex;
      justify-content: center;
    }
  }

  .hero-section__highlighted-nft {
    display: none;
  }

  .top-rated-artists__cards-grid {
    grid-template-columns: 1fr;
    text-align: left;

    .card {
      justify-content: flex-start;
    }
  }

  .content__browse-categories .browse-categories__cards-grid {
    grid-template-columns: 1fr 1fr;
  }

  .adaptive {
    display: block !important;
    width: 100% !important;
  }

  .content__nft-highlight {
    padding: 1em;
  }

  .content__nft-highlight .nft-highlight__headline {
    width: 100%;
  }

  .nft-highlight__headline button {
    width: 100%;
    justify-content: center;
  }

  .nft-highlight__simple-clock {
    display: none;
  }

  .how-it-works__cards {
    flex-direction: column;

    .card {
      flex-direction: row;
      text-align: left !important;
    }
  }

  .content__subscribe-widget {
    flex-direction: column;
    background-color: transparent;
    padding: 0;
  }
}

@media (width < 630px) {
  .card-row__card {
    flex-basis: 100% !important;
  }

  .card-row__card:nth-child(3) {
    display: none;
  }

  .top-rated-artists__heading button {
    display: none !important;
  }

  .discover-more-nfts__cards-grid {
    grid-template-columns: 1fr;

    .card:nth-child(3) {
      display: block;
    }

    .card {
      .card-img-top {
        height: auto;
      }
    }
  }

  .adaptive-button {
    display: flex !important;
    justify-content: center;
    width: 100%;
  }
}
