$safe-sone: 1280px;

$background-dark: #1b1b1b;
$background: #2b2b2b;
$background-secondary: #3b3b3b;
$call-to-action: #a259ff;

$input-field-width: 60%;
$artist-page__avatar-size: 120px;

$media-xl: 1070px;
$media-l: 940px;
$media-xm: 834px;
$media-m: 790px;
$media-xs: 630px;
$media-s: 420px;
