@use "../utils/variables.scss" as *;

body {
  background-color: $background !important;
  scroll-behavior: smooth;
}

#top {
  position: fixed;
  transition-duration: 0.5s;
  z-index: 100;
  bottom: 2%;
  right: 2%;
  place-self: end;
  text-decoration: none;
  padding: 3vh;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 0.5vw;
  overflow: hidden;
  background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-512.png);
  background-size: 60%;
  box-shadow: 0 0.5vw 1.5vw 0.5vw #1b1b1b;
  background-repeat: no-repeat;
  background-position: center;
  white-space: nowrap;
}

::-webkit-scrollbar {
  background-color: #3b3b3b;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border: 2px groove #3b3b3b;
  border-radius: 7px;

  &:hover {
    background-color: #1b1b1b;
  }
}

[href]:hover {
  cursor: pointer;
}

.header {
  background: $background;
  padding: 20px 50px 20px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  width: $safe-sone;
  height: 100%;
}

.header__menu {
  display: flex;
  align-items: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  gap: 3em;
}

.header__title figcaption {
  color: #ffffff;
  font-family: monospace;
  font-weight: 600;
  font-size: 24px;
}

.menu__item a {
  text-decoration: none;
  color: #ffffff;
}

.burger-menu {
  display: none;
  background: url(/img/headerAndFooterImgs/navMenu.svg);
  background-size: 100% 100%;
  border: none;
  width: 30px;
}

@media (width < 940px) {
  .header {
    padding: 20px 20px;
  }

  .header__menu {
    gap: 1em;
  }
}

@media (width < 834px) {
  .burger-menu {
    display: block;
  }

  .header__menu {
    display: none;
  }
}

@media (width < 420px) {
  .header__title figcaption {
    font-size: 16px;
  }
}
