@use "../utils/variables.scss" as variables;

.footer {
  background-color: #3b3b3b;
  display: grid;
  place-items: center;

  .footer__container {
    width: clamp(10%, variables.$safe-sone, 100%);
    height: 100%;
    padding: 2em;
    gap: 5em;
  }
}
