.heading__input-field {
  display: flex;

  .input-field__input {
    border-radius: 1em 0 0 1em;
    border: none;
    padding-left: 1em;
    width: clamp(100px, 60%, 400px);
  }

  .button {
    position: relative;
    transform: translate(-10%, 0);
  }
}
