a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: Work Sans;
  font-size: 67px;
  font-weight: 600;
  line-height: 73.7px;
  text-align: left;
  color: white;
  margin: 0;
}

h2 {
  color: white;
}

h3 {
  color: white;
  font-size: 38px;
}

h4 {
  color: #858584;
}

h5 {
  color: white;
  font-weight: 600;
  font-size: 22px;
}
